/*
Styles for nrelate admin screen
*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>> Plugin Settings <<<<<*/

/* Thumbnails for style one */
.nrelate-layout-thumbnails-1 {
float: left;
padding: 10px;
text-align:center;
}
.nrelate-layout-thumbnails-1 label{
padding:5px 0 0;
}

/* Help icon */
.nrelate-help {
text-align: right;
}

/* Styles for Admin settings page */
.toplevel_page_nrelate-main .postbox input[type="text"], .toplevel_page_nrelate-main .stuffbox textarea {
width: 100%;
}